body {
  font-family: 'Helvetica Neue', Arial, Sans-serif;
  background-image: url('school.png');
  background-repeat: repeat;
  background-attachment: fixed;
  padding: 0px;
  margin: 0px;
}

h3 {
  color: #BF616A;
}

h5 {
    font-weight: normal;
}

div.node-direct-wrapper {
    line-height: 20px;
}

div.node-wrapper {
    padding-left: 40px;
    margin-left: -10px;
    border-left: 1px solid #eee;
    font-size: 14px;
}

div.pad-wrapper>div.node-wrapper {
    border-left: none;
}

div.pad-wrapper>div.node-wrapper>div>ul>li>div.node-wrapper {
    border-left: none;
    font-size:15px;
}

div.editable {
    display: inline;
    margin-left: 5px;
    border: 0;
    outline: 0;
    padding-left: 1px; /* Shows the cursor at all times */

}

.togglable {
  color: blue;
  cursor: pointer;
}

.dot {
    width: 0px;
    margin-left: -11px;
}
.dot-collapsed {
    color: red;
}

.completed {
    text-decoration: line-through;
}

.completed-hidden {
    display: none;
}

.text {
    cursor: text;
    overflow: auto;
}

ul, li {
    list-style-type: none;
    padding-left: 0px;
}

div.topBullet {
    font-size: 18px;
    margin-left: 16px;
}

.breadcrumb {
    color: #aaa;
    font-weight: 500;
    margin: 0 45px;
}

.breadcrumbs-wrapper {
    margin-bottom: 20px;
}

.collapseButton {
    position: absolute;
    top: -2px;
    cursor: pointer;
    right: 10px;
}

.plus-wrapper {
    position: relative;
    display: inline;
}

.pad-wrapper {
    -webkit-box-shadow: 0px 0px 36px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -7px rgba(0,0,0,0.75);
    width: 853px;
    margin-top: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.header {
    background-color: #444;
    padding: 0 15px;
}

.header-buttons {
    float: right;
}
.search {
    margin: 5px 0px;
}

.header-buttons a, .header-buttons span {
    background-color: red;
    margin-left: 1px;
    line-height:29px;
    height: 29px;
    padding: 0 17px;
    display: block;
    float: right;
    color: white;
    text-decoration: none;
    font-size: 13px;
    background-color: grey;
}

.saved-text {
    width: 50px;
    text-align: center;
}

.logo {
    color: white;
    margin-right: 30px;
    font-family: 'Helvetica Neue';
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #eee;
    padding: 0;
    margin: 5px 45px;
}

div.display-none {
    display: none;
}

.completed-hidden-button {
    width: 100px;
    text-align: center;
}
