body {
  font-family: 'Helvetica Neue', Arial, Sans-serif;
}

h3 {
  color: #BF616A;
}

h5 {
    font-weight: normal;
}

div.node-direct-wrapper {
    line-height: 20px;
}

div.editable {
    display: inline;
    margin-left: 5px;
    border: 0;
    outline: 0;
    padding-left: 1px; /* Shows the cursor at all times */

}

.togglable {
  color: blue;
  cursor: pointer;
}

.dot-collapsed {
    color: red;
}

.completed {
    text-decoration: line-through;
}

.text {
    cursor: text;
    overflow: auto;
}

ul, li {
    list-style-type: none;
}

.topBullet {
    font-size: 18px;
    margin-left: 0px;
}

.breadcrumb {
    color: #aaa;
    font-weight: bold;
}
